/* Design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #C19A6B;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container .heading {
  position: absolute;
  top: 20%;
  font-size: 3em;
  font-weight: 800;
  letter-spacing: 2px;
}

.container .input {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 500px;
  background-color: #000;
  border-radius: 6px;
  box-shadow: 2px 14px 20px rgba(0, 0, 0, 0.6);
}

.container .input #input_date {
  height: 50px;
  border-radius: 6px;
  width: 60%;
  padding: 0 14px;
  font-size: 18px;
  outline: none;
}

.container .input .submit {
  width: 30%;
  background-color: #FFF;
  border-radius: 6px;
  font-size: 16px;
  text-transform: uppercase;
}

.container .result {
  display: flex;
  width: 500px;
  padding: 0 2px;
  margin-top: 50px;
  justify-content: space-between;
}

.container .result .box {
  color: #FFF;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  background-color: #000;
  box-shadow: 2px 14px 20px rgba(0, 0, 0, 0.6);
}

.container .result .box span {
  font-size: 28px;
  font-weight: 600;
}

.container .result .box p {
  margin-top: 5px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #999;
}
